.main-card {
    display: inline-flex;
    flex-wrap: wrap;
}

.main-card .product-img {
    display: flex;
    width: 350px;
    height: 375px;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

.main-card .price-desc {
    font-size: 20px;
    margin-left: 70px;
}
.main-card .color-desc {
    font-size: 20px; 
    margin-left: 70px; 
   
}
.main-card .button-cont {
    display: flex;
    flex-direction: column;
}
.main-card .price-button { 
    margin-left: 0;
    display: flex;
} 
.main-card .price-button:nth-child(2) { 
    margin-left: 0;
    margin-top: 10px;
    display: flex;
} 





